spring:
  application:
    name: leads

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

server:
  port: 8080

jwt:
  secret: leadsmanagementjwtsecretkey1234567890abcdef
  expiration: 3600000
